<div class="row">
    <div class="col-12">
        <h3>Grid demo</h3>
    </div>
    <div class="col-6 mb-3">
        <div class="input-group">
            <input id="demo-grid-search" type="text" class="form-control" placeholder="Search across all columns" data-bind="event: { input: onSearchInput.bind($data) }" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" data-bind="click: clearSearch.bind($data)">Clear</button>
            </div>
            <div class="input-group-append ml-2">
                <button class="btn btn-outline-secondary" type="button" data-bind="click: exportToExcel.bind($data)">Export Excel</button>
            </div>
            <div class="input-group-append ml-2">
                <button class="btn btn-outline-secondary" type="button" data-bind="click: exportToCsv.bind($data)">Export CSV</button>
            </div>
            <div class="input-group-append ml-2">
                <div class="input-group-text">
                    <input checked type="checkbox" aria-label="Enable row selection" data-bind="event: { change: onRowSelectionToggleChange.bind($data) }" />
                    <span class="ml-2">Enable Row Selection</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <gs-grid></gs-grid>
    </div>
</div>