<div class="row">
    <div class="col-12">
        <h3>Grid demo</h3>
    </div>
    <div class="col-6 mb-3">
        <div class="input-group">
            <input id="demo-grid-search" type="text" class="form-control" placeholder="Search across all columns" data-bind="event: { input: onSearchInput.bind($data) }" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" data-bind="click: clearSearch.bind($data)">Clear</button>
            </div>
            <div class="input-group-append mx-2">
                <button class="btn btn-outline-secondary" type="button" data-bind="click: exportToExcel.bind($data)">Export Excel</button>
            </div>
            <div class="input-group-append mx-2">
                <button class="btn btn-outline-secondary" type="button" data-bind="click: exportToCsv.bind($data)">Export CSV</button>
            </div>
            <div class="form-check mx-2 my-2">
                <input class="form-check-input" type="checkbox" value="" id="checkDefault" data-bind="event: { change: onRowSelectionToggleChange.bind($data) }" >
                <label class="form-check-label" for="checkDefault">
                    Enable row selection
                </label>
            </div>
        </div>
    </div>
    <div class="col-12">
        <gs-grid></gs-grid>
    </div>
</div>